
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/MainSheet.css" rel="stylesheet" />
</head>
<body>
    <div> 
        @RenderBody();
    </div>
    (c) 2016 ME!
</body>
</html>
