<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=sebbstorage;AccountKey=X6psta3fD7F93R/LMnYClB5E3N8gavdOByzdlrGqpg/xlQjFfQCoXqrJ9+0tuoHkbk24eqIm8ZshHzNuDUiFIQ==" />
  </appSettings>
</configuration>
