
@{
    ViewBag.Title = "RSVP";
}
<html>
<head>
    <link href="~/Content/MainSheet.css" rel="stylesheet" />
</head>
<body>
    <h2>RSVP</h2>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Namn: @Html.TextBox("Name")</p>
        <p>Telefon: @Html.TextBox("Phone")</p>
        <button type="submit">Skicka</button>
    }
</body>
</html>
