
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <h2>Om mig:</h2>
        @Html.ActionLink("Home", "Index")
        @Html.ActionLink("About", "About")
        <hr />

    </div>
</body>
</html>
