
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet1.css">
</head>
<body style="background-color:skyblue; color:red">
    <div>
        <h2>Om mig:</h2>
        @Html.ActionLink("Home", "Index")
        @Html.ActionLink("About", "About")
        <hr />


        <p.solid {border-style: solid;} style="color:red; font-size:200%">Hallå!</p.solid>
        <p>Denna hemsida är gjord att vara en prtfolio åt Daniel Svanberg</p>
        <p>Jag har tidagre studerat på SjödalGymnasium tekniska linien. Jag gick ut med högsta betyget i programering möjligt. Efter jag tog studenten så valde jag att fortsätta studera på ÖstraGymnasium på deras T4 program.</p>
    </div>
</body>
</html>