
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/StyleSheet1.css">
</head>
<body style="background-color:powderblue;">
    <div>
        <h2>Vällkomen!</h2>

        @Html.ActionLink("Home", "Index")
        @Html.ActionLink("About", "About")

        <hr />

        <p.solid {border-style: solid;} style="color:red">Detta är en hem sida för allt som du behöver veta om mig, Daniel Svanberg.</p.solid>
    </div>
</body>
</html>