
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Vällkomen!</h2>

        @Html.ActionLink("Home", "Index")
        @Html.ActionLink("About", "About")

        <hr />

        <p>Detta är en hem sida för allt som du behöver veta om mig, Daniel Svanberg.</p>
    </div>s
</body>
</html>
